{% extends 'meals/header.html' %}
{% block content %}

<div class="flex justify-end mt-2">
    <div class="mr-28 text-center">
        <p class="mb-1">Sort by:</p>
        <p>
            <a href="/category/sort_rating" class="mx-3 text-blue-600 underline">Rating</a>
            <a href="/category/sort_country" class="mx-3 text-blue-600 underline">Country</a>
            <a href="/category/sort_date" class="mx-3 text-blue-600 underline">Date</a>
        </p>
    </div>
</div>
<div>
    {% for meal in mealList %}
    <a href="/detail_{{ meal.id }}">
        <div class="flex items-center w-3/5 mx-auto my-5 border-2">
            <img src={{ meal.imgUrl }} width="20%" class="mr-3">
            <p>{{ meal.name }} ({{ meal.countryOfOrigin }}) Avg Score: {{ meal.avgRating }}, Votes: {{ meal.numOfVotes }}</p>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}