{% extends 'meals/header.html' %}
{% load my_tags %}
{% block content %}

<p class="text-center mt-3">
    Select one or more buttons to narrow down your<br> search and register to see recommendations
</p>
<nav class="mt-16 mx-auto w-4/5 header flex justify-around pb-2 border-b-4">
    {% for tagName in tagList %}
        {% if tagName in tags %}
            <a class="border border-blue-600 rounded p-2 bg-blue-600 text-white"
            href="/home/tags_{{ tags|replace:tagName }}/sort_date">{{ tagName }}</a>
        {% else %}
            <a class="border border-blue-600 rounded p-2 text-blue-600"
            href="/home/tags_{{ tags|add:tagName }}/sort_date">{{ tagName }}</a>
        {% endif %}
    {% endfor %}

    {% if user.is_authenticated %}
    <button class="border border-green-600 rounded p-2 text-green-600">Recommended</button>
    {% endif %}
</nav>

<div class="flex justify-end mt-2">
    <div class="mr-28 text-center">
        <p class="mb-1">Sort by:</p>
        <p>
            <a href="/home/tags_{{tags}}/sort_date" class="mx-3 text-blue-600 underline">Rating</a>
            <a href="/home/tags_{{tags}}/sort_country" class="mx-3 text-blue-600 underline">Country</a>
            <a href="/home/tags_{{tags}}/sort_date" class="mx-3 text-blue-600 underline">Date</a>
        </p>
    </div>
</div>
<div>
    {% for meal in mealList %}
    <a href="/detail_{{ meal.id }}">
        <div class="flex items-center w-3/5 mx-auto my-5 border-2">
            <img src={{ meal.imgUrl }} width="20%" class="mr-3">
            <p>{{ meal.name }} ({{ meal.countryOfOrigin }}) Avg Score: {{ meal.avgRating }}, Votes: {{ meal.numOfVotes }}</p>
        </div>
    </a>
    {% endfor %}
    {% if mealList.first is None %}
    <p class="text-center">No match</p>
    {% endif %}
</div>

{% endblock %}