{% extends 'meals/header.html' %}
{% load my_tags %}
{% block content %}
<div class="text-center mt-5 text-2xl">
    <h1>{{ meal.name }}</h1>
</div>
<div class="flex justify-center mt-3">
    <img src={{ meal.imgUrl }} alt="" width="20%">
</div>
<div class="w-1/3 mx-auto mt-3 flex justify-around">
    <table>
        <tr>
            <th class="font-normal">Country Of Origin: </th>
            <th class="font-normal">{{ meal.countryOfOrigin }}</th>
        </tr>
        {% if meal.description %}
            <tr>
                <th class="font-normal">Description: </th>
                <th class="font-normal">{{ meal.description }}</th>
            </tr>
        {% endif %}
        <tr>
            <th class="font-normal">Average Score: </th>
            <th class="font-normal">{{ meal.avgRating|roundValue:2 }}</th>
        </tr>
        <tr>
            <th class="font-normal">Votes: </th>
            <th class="font-normal">{{ meal.numOfVotes }}</th>
        </tr>
    </table>
</div>
<form method="POST">
    {% csrf_token %}
    <div class="mt-3 flex justify-center">
            <p class="text-xl font-bold text-center mr-3">Your Rating: </p>
            <span class="mr-1 mt-1">0</span>
            <input name="rating" class="" type="range" min="0" max="5">
            <p class="ml-1 mt-1">5</p>
            <button name="ratingBtn" type="submit" class="ml-4 border border-sky-600 rounded text-sky-600 p-1 px-2">Submit</button>
    </div>
</form>
{% endblock %}