{% load my_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Meal Rating Site</title>
</head>
<body>
    <div>
        <h1 class="text-2xl text-center mt-10">Meal Recommender</h1>
        <div class="absolute w-full flex justify-end">
            <div class="absolute -top-16 right-10 flex flex-col items-center">
                {% if user.is_authenticated %}
                    <p>Welcome, {{ user.get_username }}!</p>
                    <a href="{% url 'home' '+Vegetarian+Spicy+Healthy+Seafood+Morning+Afternoon+Evening+Recommended+' 'date' %}" 
                            class="underline text-blue-600">Home</a>
                    <a href="{% url 'history' %}" class="underline text-blue-600">See History</a>
                    <a href="{% url 'add_meal' %}" class="underline text-blue-600">Add a Meal</a>
                    <a href="{% url 'logout' %}" class="underline text-blue-600">Logout</a>
                {% else %}
                    <p>Welcome, Anonymous!</p>
                    <form method="POST" class="flex flex-col items-center">
                        {% csrf_token %}
                        <input class="border border-2 rounded border-gray-300 pl-2 m-1" placeholder="username" type="username" name="username">
                        <input class="border border-2 rounded border-gray-300 pl-2 m-1" placeholder="password" type="password" name="password">
                        <button type="submit" class="border border-sky-600 rounded text-sky-600 px-2 py-1 mt-1">Submit</button>
                    </form>
                    <a href="{% url 'register' %}" class="underline text-blue-600">Register</a>
                {% endif %}
            </div>
        </div>
        
        {% block content %}{% endblock %}
    </div>
</body>
</html>